@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* Global input styles */
input, textarea {
  color: #000; /* Sets text color to black */
  background-color: #fff; /* Sets background color to white */
  border: 1px solid #ccc; /* Adds a border for visibility */
  padding: 8px; /* Adds padding for better UX */
  outline: none; /* Removes default focus outline */
  border-radius: 4px; /* Adds rounded corners */
}

/* Focus state for inputs */
input:focus, textarea:focus {
  border-color: #4CAF50; /* Changes border color on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Adds a subtle shadow effect */
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var())
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-text {
    background: linear-gradient(to right, #f39c12, #f1c40f); /* Adjust colors as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


